@{
    Layout = null;
}
@foreach (var menulevel1 in ViewBag.MenuLevel1)
{
    <li class="nav-item dropdown">
        @if (menulevel1.ParentId == 0)
        {
            <span>@Html.ActionLink((string)menulevel1.MenuName, (string)menulevel1.NameUrl, "Adnmin", null)</span>
            <a class="nav-link dropdown-toggle" href="#" id="a" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @*<i class="fas fa-fw fa-folder"></i>*@
                <span>@menulevel1.MenuName</span>
                @*Html.ActionLink((string)menulevel1.MenuName, (string)menulevel1.MenuName, "Adnmin", null)*@
            </a>

            <div class="dropdown-menu" aria-labelledby="a">
                @foreach (var item in ViewBag.MenuLevel2)
                {
                    if (@menulevel1.Id == @item.ParentId)
                    {
                        <a class="dropdown-item" href="/LoginAjax/@item.NameUrl">@item.MenuName</a>
                    }
                  
                }
               
            </div>
        }
    </li>
}

